//- Icons mixins
//- Author: Zwolek
//- Author e-mail: zwoweb@gmail.com
//--------------------------------------------//
//- Table of Contest
//- 1.0 Font Awesome
//- 2.0 Ionicons
//- 3.0 Material Design Icons
//- 4.0 Weather Icons
//--------------------------------------------//

//--------------------------------------------//
//- 1.0 Font Awesome
//--------------------------------------------//
mixin font_awesome(fa_class)
	i(
		class="fa " + fa_class
	)

//--------------------------------------------//
//- 2.0 Ionicons
//--------------------------------------------//
mixin ioniocns(ion_class)
	i(
		class=ion_class
	)

//--------------------------------------------//
//- 3.0 Material Design Icons
//--------------------------------------------//
mixin mdi(mdi_class)
	i(
		class=mdi_class
	)

//--------------------------------------------//
//- 4.0 Weather Icons
//--------------------------------------------//
mixin weather_icon(wi_class)
	i(
		class=wi_class
	)
