//- Input Group mixins
//- Author: Zwolek
//- Author e-mail: zwoweb@gmail.com
//--------------------------------------------//
//- Table of Contest
//- 1.0 Default Input Group
//--------------------------------------------//

//--------------------------------------------//
//- 1.0 Default Input Group
//--------------------------------------------//
mixin input_group(input_group_class)
	.input__group(
		class=input_group_class
	)
		block

//--------------------------------------------//
//- 2.0 Input Group Style
//--------------------------------------------//
mixin input_group_style(input_group_class)
	.input__group--style(
		class=input_group_class
	)
		block