//- Label mixins
//- Author: Zwolek
//- Author e-mail: zwoweb@gmail.com
//--------------------------------------------//
//- Table of Contest
//- 1.0 Default Label
//--------------------------------------------//

//--------------------------------------------//
//- 1.0 Default Label
//--------------------------------------------//
mixin label(label_type, label_value)
	span(
		class="label " + label_type
	) #{label_value}