//- Spinners Mixins
//- Author: Zwolek
//- Author e-mail: zwoweb@gmail.com
//--------------------------------------------//
//- Table of Contest
//- 1.0 Spinner
//- 2.0 Spinner 2
//- 3.0 Spinner 3
//--------------------------------------------//

//--------------------------------------------//
//- 1.0 Spinner
//--------------------------------------------//
mixin spinner(spinner_class)
	.spinner(
		class=spinner_class
	)

//--------------------------------------------//
//- 2.0 Spinner 2
//--------------------------------------------//
mixin spinner_2(spinner_class)
	.spinner--2(
		class=spinner_class
	)

//--------------------------------------------//
//- 3.0 Spinner 3
//--------------------------------------------//
mixin spinner_3(spinner_class)
	.spinner--3(
		class=spinner_class
	)